html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scrollbar-width: 1px;
}
.mainPage {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 4rem calc(100vh - 8.1rem) 4.1rem;
}
.navComponent {
  grid-row: 1 / span 1;
}
.footerComponent {
  grid-row: 3 / span 1;
}
.mainContainer {
  min-height: calc(100vh - 8.1rem);
  max-height: calc(100vh - 8.1rem);
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: calc(100vh - 8.1rem);
}
.doubleColumn {
  grid-row: 1;
  grid-column: 1 / span 2;
  height: 100%;
  min-height: calc(100vh - 8.1rem);
  max-height: calc(100vh - 8.1rem);
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.mainComponent {
  grid-row: 1;
  grid-column: 2 / span 1;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.leftComponent {
  grid-row: 1;
  grid-column: 1 / span 1;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  padding-bottom: 0.3rem;
}
.chatComponent {
  grid-row: 1;
  grid-column: 3 / span 1;
  height: 100%;
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.friendMain {
  min-height: calc(100vh - 8.1rem);
  max-height: calc(100vh - 8.1rem);
  overflow-y: auto;
}

@media screen and (max-width: 1150px) {
  .mainContainer {
    grid-template-columns: 1fr 2fr;
  }
}
@media screen and (max-width: 800px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }
  .mainComponent {
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .doubleColumn {
    grid-column: 1 / span 1;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 500px) {
  .mainPage {
    grid-template-rows: 3rem calc(100vh - 6.4rem) 3.4rem;
  }
  .doubleColumn {
    min-height: calc(100vh - 6.4rem);
    max-height: calc(100vh - 6.4rem);
  }
  .mainContainer {
    min-height: calc(100vh - 6.4rem);
    max-height: calc(100vh - 6.4rem);
    grid-template-rows: calc(100vh - 6.4rem);
  }
  .mainComponent {
    min-height: calc(100vh - 6.4rem);
    max-height: calc(100vh - 6.4rem);
    overflow-y: scroll;
  }
  .friendMain {
    min-height: calc(100vh - 6.4rem);
    max-height: calc(100vh - 6.4rem);
  }
}
