.alertBox {
  margin-top: 0.5rem;
  position: relative;
  background-color: #a8e4c1; /* Background color for danger alerts */
  border: 1px solid #86b69a; /* Border color */
  color: #1c7226; /* Text color for danger alerts */
  padding: 0.8rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  margin-right: 0.3rem;
  margin-left: 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1rem;
  width: calc(100% - 0.8rem);
}
.alertMessage {
  grid-column: 1 / span 1;
  margin: 0;
  text-align: center;
}
.closeAlert {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(135, 132, 132);
}
.closeAlert:hover {
  cursor: pointer;
  color: #0d4300;
}
