.allLikesContainer {
  height: 100%;
  width: 16.3vw;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow-x: auto;
  justify-content: space-around;
  border-radius: 5px;
  background: rgb(233, 216, 216);
}
.iconFlex {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.blue {
  color: blue;
}
.yellow {
  color: rgb(199, 211, 29);
}
.red {
  color: #fa9191f3;
}
.lightBlue {
  color: rgb(83, 229, 229);
}
