.birthDayContainer {
  width: 100%;
  height: 99%;
  max-height: 99%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.1rem;
}
.monthContainer {
  width: 95%;
  background-color: rgba(209, 202, 202, 0.6);
  border-radius: 0.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.8rem auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}
.monthName {
  grid-row: 1 / span 1;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 2.1rem;
  background-color: rgba(146, 138, 138, 0.6);
  padding-bottom: 0.1rem;
  color: rgb(245, 245, 237);
  border-radius: 0.5rem;
}
.listDisplay {
  grid-row: 2 / span 1;
}
.listDisplay div:not(:last-child) {
  border-bottom: 1px solid grey;
}
.monthContainerLine {
  width: 100%;
  height: calc(2.5rem + 10px);
  padding-bottom: 0px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 2.5rem 1fr 2rem;
  /* border-bottom: 1px solid grey; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}
.birthdayImg {
  width: 2.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(14, 134, 134);
  grid-column: 1;
}
.birthDayListName {
  margin-left: 0.5rem;
  font-weight: bold;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 1.2rem;
  grid-column: 2;
  max-width: 98%;
}
.birthDate {
  font-weight: bold;
  font-size: 1.2rem;
  grid-column: 3;
  text-align: right;
}
.birthDayListName::-webkit-scrollbar {
  display: none;
}
