.singleChat {
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 208, 208);
  width: 70%;
  z-index: 600;
  padding: 0.3rem;
  overflow-x: hidden;
  border-radius: 0.9rem;
  border-top-left-radius: 0;
  align-items: center;
  position: relative;
}
.singleChatMessage {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 0.2rem;
  width: 100%;
}
.singleChatTime {
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  width: 100%;
  text-align: right;
  padding-right: 0.2rem;
  margin-bottom: 0.2rem;
}
.singleChatCon {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
}
.chatSideBar {
  position: absolute;
  top: 50%;
  /* right: 5px; */
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 750;
  background-color: white;
  border-radius: 5px;
}
.chatSidebarButton {
  border: none;
  text-align: left;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
  font-size: 0.8rem;
  font-weight: 570;
  display: flex;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.chatSidebarButton:hover {
  cursor: pointer;
  background-color: rgb(172, 195, 216);
}
.chatReactContainer {
  min-width: 1.3rem;
  min-height: 1.3rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
