.chatContainer {
  width: 100%;
  height: 100%;
}
.chatHeading {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.9rem;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
  color: rgb(66, 66, 66);
}
.chatCardContainer {
  width: 100%;
  /* height: calc(100svh - 15.2rem);
  max-height: calc(100svh - 15.2rem); */
  margin-top: 0.7rem;
  height: calc(100svh - 14rem);
  max-height: calc(100svh - 14rem);
  overflow-y: auto;
}
.chatCard {
  max-width: calc(25vw - 1.1rem);
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.chatCard:hover {
  cursor: pointer;
  background-color: rgb(207, 211, 211);
  border-radius: 0.3rem;
}
.chatCardVerticalLine {
  width: calc(100% - 1.7rem);
  height: calc(2rem + 10px);
  padding: 5px;
  padding-right: 0;
  padding-bottom: 0px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
