* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.comment {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  border: 2px solid gray;
  display: grid;
  grid-template-rows: 2.3rem auto 1.5rem 1.7rem;
  border-radius: 8px;
}
.commentFirstRow {
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
}
.commentPicContainer {
  display: flex;
  align-items: center;
  grid-column: 1;
}
.commentUserProfilePic {
  height: 2.2rem;
  width: 2.2rem;
  background-color: rgb(14, 134, 134);
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2px;
}
.commentUser {
  margin-left: 5px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.commentUserName {
  font-size: medium;
}
.time {
  font-size: small;
}
.commentSecondRow {
  grid-row: 2;
  padding-left: 10px;
  border-top: 2px solid gray;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
}
.commentThirdRow {
  grid-row: 3;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 2px solid gray;
  justify-content: space-between;
}
.commentFourthRow {
  border-top: 2px solid gray;
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.commentButton {
  height: 1.4rem;
  font-weight: 500;
  color: azure;
  background-color: rgb(30, 131, 131);
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
  border: none;
}
.commentButton:hover {
  background-color: rgb(25, 135, 25);
}
.isEdited {
  height: 1.2rem;
  font-weight: 500;
  color: azure;
  background-color: rgb(77, 73, 73);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border: none;
}
.commentIcons {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
}
.commentFifthRow {
  margin-top: 7px;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgb(141, 138, 138);
  border-radius: 5px;
}
.commentEmojiIcon {
  color: yellow;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.commentReply {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  text-indent: 5px;
}
.commentSubmitIconDisabled {
  color: blue;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 10px;
  cursor: not-allowed;
}
.commentSubmitIcon {
  color: blue;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.commentSubmitIcon:hover {
  background-color: rgb(92, 89, 89);
}
.emojiClass {
  margin-left: 2rem;
  margin-right: 2rem;
}
.commentLikes {
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.commentLike {
  display: flex;
  align-items: center;
}
.displayNone {
  display: none;
}
