.createStory {
  width: 100%;
  height: calc(100svh - 8.2rem);
  display: grid;
  grid-template-rows: auto 43.5px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.storyDescription {
  width: calc(100% - 10px);
  height: 8rem;
  margin: 5px;
  text-align: center;
  border: 2px solid rgb(178, 179, 181);
  border-radius: 0.4rem;
  width: 24vw;
  white-space: pre-wrap;
}
.storyBackground {
  width: 96%;
  height: 5.2rem;
  margin: 5px;
  border: 2px solid rgb(178, 179, 181);
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 0.4rem;
  margin-bottom: 0.6rem;
}
.storyHeadings {
  font-size: medium;
  padding: 5px;
  color: rgb(90, 90, 92);
  padding-left: 1px;
}
.bgColorChoice {
  display: flex;
  overflow-x: auto;
  min-height: 3rem;
  align-items: center;
}
.bgColorChoice::-webkit-scrollbar {
  display: none;
}
.color {
  width: 1.8rem;
  height: 1.8rem;
  min-width: 1.8rem;
  min-height: 1.8rem;
  border-radius: 50%;
  margin: 5px;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
}
.colorFont {
  width: 2.2rem;
  height: 2.2rem;
  min-width: 2.2rem;
  min-height: 2.2rem;
  border-radius: 50%;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.storyFontColor {
  display: flex;
  justify-content: space-around;
}
.color:hover {
  border: 2px solid rgb(134, 135, 137);
}
.storyFontColor:first-child,
.color:first-child {
  margin-left: 0px;
}
.storyFontColor:last-child,
.color:last-child {
  margin-right: 0px;
}
.color_1 {
  background-color: rgb(9, 181, 181);
}
.color_2 {
  background-color: rgb(35, 67, 156);
}
.color_3 {
  background-color: rgb(64, 246, 36);
}
.color_4 {
  background-color: rgb(4, 112, 33);
}
.color_5 {
  background-color: rgb(238, 90, 36);
}
.color_6 {
  background-color: rgb(240, 229, 13);
}
.color_7 {
  background-color: rgb(83, 26, 130);
}
.color_8 {
  background-color: rgb(228, 61, 243);
}
.color_9 {
  background-color: rgb(221, 89, 135);
}
.storyFont {
  margin-right: 5px;
  margin-left: 5px;
  width: calc(100% - 10px);
  height: 35px;
  min-height: 35px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 552;
  border: 2px solid rgb(134, 135, 137);
  font-weight: bold;
  margin-top: 0.3rem;
  margin-bottom: 0.45rem;
}
.uploadStoryBackground {
  height: 35px;
  min-height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 552;
  border: 2px solid rgb(134, 135, 137);
  border-radius: 10px;
  width: calc(100% - 10px);
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.uploadStoryAttachment:hover {
  background-color: rgb(188, 188, 192);
  cursor: pointer;
}
.storyVisibility {
  font: 1.1em sans-serif;
  font-weight: 552;
  margin-bottom: 5px;
  color: rgb(118, 119, 122);
}
.storyVisibilityButton {
  margin-right: 5px;
  width: calc(100% - 6px);
  height: 35px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 552;
  border: 2px solid rgb(134, 135, 137);
  font-weight: bold;
}
.storyFont:hover,
.uploadStoryBackground:hover,
.storyVisibilityButton:hover {
  background-color: rgb(188, 188, 192);
}
.storyVisibilityOption {
  background-color: rgb(243, 240, 240);
}
.postAttachment::-webkit-scrollbar {
  display: none;
}
.createPostFirstRow::-webkit-scrollbar {
  display: none;
}
.fileUploadCross {
  border-radius: 50%;
  background-color: #918a8a;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fileUploadCross:hover {
  background-color: rgb(246, 44, 44);
  cursor: pointer;
}
.createStoryButton {
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  background-color: rgb(159, 159, 163);
  border-radius: 10px;
  width: calc(100% - 10px);
  border: none;
}
.createStoryHover:hover {
  background-color: rgb(30, 150, 194);
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .storyDescription {
    width: 32vw;
  }
}
@media screen and (max-width: 800px) {
  .storyDescription {
    width: 50vw;
  }
  .createStory {
    width: 52vw;
    margin-left: 24vw;
  }
}
@media screen and (max-width: 720px) {
  .storyDescription {
    width: 60vw;
  }
  .createStory {
    width: 62vw;
    margin-left: 19vw;
  }
}
@media screen and (max-width: 560px) {
  .storyDescription {
    width: 70vw;
  }
  .createStory {
    width: 72vw;
    margin-left: 14vw;
  }
}
@media screen and (max-width: 450px) {
  .storyDescription {
    width: 80vw;
  }
  .createStory {
    width: 82vw;
    margin-left: 9vw;
  }
}
@media screen and (max-width: 360px) {
  .storyDescription {
    width: 92vw;
  }
  .createStory {
    width: 94vw;
    margin-left: 3vw;
  }
}
