.editPostContainer {
  width: 35vw;
  height: calc(100svh - 8.2rem);
  background-color: aliceblue;
  z-index: 750;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editPostCross {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 750;
  background-color: rgb(157, 62, 62);
  width: 2.5rem;
  height: 1.7rem;
  border-radius: 10%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editPostCross:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 1150px) {
  .editPostContainer {
    width: 40vw;
  }
}
@media screen and (max-width: 1000px) {
  .editPostContainer {
    width: 45vw;
  }
}
@media screen and (max-width: 800px) {
  .editPostContainer {
    width: 50vw;
  }
}
@media screen and (max-width: 670px) {
  .editPostContainer {
    width: 58vw;
  }
}
@media screen and (max-width: 525px) {
  .editPostContainer {
    width: 65vw;
  }
}
@media screen and (max-width: 430px) {
  .editPostContainer {
    width: 75vw;
  }
}
@media screen and (max-width: 370px) {
  .editPostContainer {
    width: 85vw;
  }
}
@media screen and (max-width: 300px) {
  .editPostContainer {
    width: 92vw;
  }
}
