.allLikesContainer {
  height: 100%;
  width: 16.3vw;
  display: flex;
  align-items: center;
  padding: 5px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-around;
  border-radius: 5px;
  background: rgb(233, 216, 216);
}
.iconFlex {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.likeHover:hover {
  font-size: 1.9rem;
}
.blue {
  color: blue;
}
.yellow {
  color: rgb(199, 211, 29);
}
.red {
  color: #fa9191f3;
}
.lightBlue {
  color: rgb(83, 229, 229);
}

@media screen and (max-width: 1150px) {
  .allLikesContainer {
    width: 21.3vw;
  }
}
@media screen and (max-width: 800px) {
  .allLikesContainer {
    width: 29vw;
  }
}
@media screen and (max-width: 700px) {
  .allLikesContainer {
    width: 30vw;
  }
}
@media screen and (max-width: 600px) {
  .allLikesContainer {
    width: 31.5vw;
    min-width: 128px;
  }
}
@media screen and (max-width: 570px) {
  .iconFlex {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 450px) {
  .iconFlex {
    font-size: 1rem;
  }
}
