.loginHeading {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: rgb(59, 67, 227);
  font-size: 3rem;
}
.loginInput {
  text-indent: 10px;
  border-radius: 3px;
}
.loginInput:hover {
  cursor: pointer;
}
.loginPasswordInput {
  text-indent: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}
.loginLogo {
  animation: rotate 5s infinite linear;
  display: flex;
  align-items: center;
}
.loginLogoSize {
  width: 60px;
  height: 62px;
}
.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100svh;
  width: 100vw;
  flex-grow: 0;
  align-items: center;
}
.loginPage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.loginLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginNameContainer {
  display: flex;
  align-items: center;
}
.loginRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flexContainer {
  display: flex;
  width: 38vw;
  height: 45svh;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.rightContainer {
  display: grid;
  width: 70%;
  grid-template-columns: 2fr;
  grid-template-rows: 2rem 2rem 1.5rem 2rem 1.5rem 2rem;
  gap: 0.5rem;
  overflow: hidden;
}
.labelClass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#invalid {
  color: red;
}
#qn {
  color: rgb(60, 81, 237);
}
#login {
  height: 100%;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: rgb(30, 150, 194);
}
#login:hover {
  background-color: rgb(4, 102, 138);
  cursor: pointer;
}
#signup {
  width: 75%;
  height: 100%;
  color: white;
  font-weight: bold;
  background-color: rgb(73, 230, 70);
  border: none;
  border-radius: 5px;
}
#signup:hover {
  background-color: rgb(6, 124, 4);
  cursor: pointer;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginGoogleIcon {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.googlelogin {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-right: 0.3rem;
  background-color: rgb(202, 198, 198);
  height: 2.2rem;
  border: none;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  min-width: 17vw;
  justify-content: center;
  cursor: pointer;
}
.googlelogin:hover {
  background-color: rgb(168, 164, 164);
}
.googleLoginText {
  color: white;
  font-weight: bold;
  margin-right: 0.3rem;
}
.marginDiv {
  min-height: 1rem;
}
.passwordConatiner {
  display: flex;
  align-items: center;
  border: 2px solid #767676;
}
.passEye {
  width: 2rem;
  height: 1.3rem;
}

@media screen and (max-height: 700px) {
  .flexContainer {
    height: 50svh;
  }
}
@media screen and (max-height: 620px) {
  .flexContainer {
    height: 55svh;
  }
}
@media screen and (max-height: 535px) {
  .flexContainer {
    height: 60svh;
  }
}
@media screen and (max-height: 450px) {
  .flexContainer {
    height: 65svh;
  }
}
@media screen and (max-width: 1220px) {
  .flexContainer {
    width: 40vw;
  }
}
@media screen and (max-width: 1145px) {
  .loginLogoSize {
    height: 51px;
    width: 50px;
  }
  .loginHeading {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1070px) {
  .flexContainer {
    width: 44vw;
  }
}
@media screen and (max-width: 940px) {
  .loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .loginLeft {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1070px) {
  .flexContainer {
    width: 50vw;
  }
}
@media screen and (max-width: 740px) {
  .flexContainer {
    width: 60vw;
  }
}
@media screen and (max-width: 595px) {
  .flexContainer {
    width: 70vw;
  }
}
@media screen and (max-width: 540px) {
  .loginHeading {
    font-size: 2.3rem;
  }
  .loginLogoSize {
    height: 46px;
    width: 45px;
  }
}
@media screen and (max-width: 500px) {
  .flexContainer {
    width: 80vw;
  }
}
@media screen and (max-width: 440px) {
  .loginHeading {
    font-size: 2.1rem;
  }
  .loginLogoSize {
    height: 41px;
    width: 40px;
  }
}
@media screen and (max-width: 370px) {
  .flexContainer {
    width: 90vw;
  }
  #invalid {
    font-size: 0.9rem;
  }
  #signup {
    width: 82%;
  }
}
@media screen and (max-width: 320px) {
  .flexContainer {
    width: 100vw;
  }
}
@media screen and (max-width: 350px) {
  .loginHeading {
    font-size: 1.8rem;
  }
}
