.postCard {
  margin: 5px;
  width: calc(100% - 15px);
  border-radius: 5px;
  background: rgb(246, 244, 244);
  display: grid;
  grid-template-rows: 3rem auto 2rem 2rem 1.5rem;
  margin-left: 9px;
  position: relative;
  margin-bottom: 0.7rem;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.2);
}
.postContent {
  grid-row: 2 / span 1;
  grid-column: 1;
  overflow: hidden;
  padding: 3px;
  padding-left: 6px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
  max-height: calc(1.2em * 3);
  overflow-wrap: break-word;
}
.expandedPostContent {
  grid-row: 2 / span 1;
  padding: 3px;
  padding-left: 6px;
  overflow: hidden;
  overflow-wrap: break-word;
}
.postAttachmentAll {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.postHeading {
  grid-row: 1 / span 1;
  grid-column: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3rem auto;
}
.postUserProfilePic {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  height: 3rem;
  width: 3rem;
  background-color: rgb(14, 134, 134);
  border-radius: 50%;
  object-fit: cover;
}
.postEditOptionContainer {
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: auto 2rem;
}
.postUserName {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
  overflow-x: auto;
}
.editShow {
  grid-column: 2 / span 1;
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.postTime {
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: small;
}
.postHelperInfo {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: 2rem 1rem;
}
.seeMore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  grid-column: 2;
}
.postOptions {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.flexContainerPost {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdRow {
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-rows: 1fr;
}
.seeMoreButton {
  border: none;
  background: rgb(242, 237, 237);
  margin-right: 5px;
  cursor: pointer;
}
.seeMoreButton:hover {
  text-decoration: underline;
}
.allLikes {
  display: flex;
  justify-content: flex-start;
  grid-column: 1;
}
.likeContainer {
  padding-bottom: 4px;
  display: flex;
  align-items: flex-end;
  grid-row: 1;
  grid-column: 1;
}
.likeContainer:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(179, 171, 171);
}
.commentIcon {
  padding-bottom: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 1;
  grid-column: 2;
}
.commentIcon:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(179, 171, 171);
}
.gray {
  color: rgb(83, 86, 86);
}
.shareIcon {
  padding-bottom: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  grid-row: 1;
  grid-column: 3;
}
.shareIcon:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(179, 171, 171);
}
.postFiles {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
}
.postFiles,
.postFiles video {
  display: block;
}
.postFiles:hover {
  cursor: pointer;
}
.displayNone {
  display: none;
  width: 0;
  height: 0;
}
.editPostButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 4.2rem;
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: rgb(196, 190, 190);
}
.editOrDelete {
  padding-left: 2px;
  padding-right: 2px;
  width: 100%;
  text-align: right;
  border: 1px solid rgb(50, 49, 49);
}
.editOrDelete:hover {
  cursor: pointer;
  background-color: rgb(120, 119, 118);
}
.postOptionCount {
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.postOptionCountText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.postOptionCountText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.postUserName::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 570px) {
  .postCard {
    grid-template-rows: 2.6rem auto 1.7rem 1.7rem 1.3rem;
  }
  .postUserName {
    font-size: 1.1rem;
  }
  .postTime {
    font-size: 0.8rem;
  }
  .postUserProfilePic {
    height: 2.6rem;
    width: 2.6rem;
  }
  .shareIcon span {
    font-size: 0.9rem;
  }
  .postOptionText {
    font-size: 0.9rem;
  }
  .commentIcon span {
    font-size: 0.9rem;
  }
  .seeMoreButton,
  .postOptionCountText,
  .postContent p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 450px) {
  .postCard {
    grid-template-rows: 2.6rem auto 1.7rem 1.7rem 1.3rem;
  }
  .postUserName {
    font-size: 1rem;
  }
  .postTime {
    font-size: 0.75rem;
  }
  .shareIcon span {
    font-size: 0.7rem;
  }
  .postOptionText {
    font-size: 0.7rem;
  }
  .commentIcon span {
    font-size: 0.7rem;
  }
  .seeMoreButton,
  .postOptionCountText,
  .postContent p {
    font-size: 0.7rem;
  }
}
