.postDiv {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.postOption {
  margin-right: 7px;
  margin-bottom: 5px;
  width: calc(100% - 17px);
  height: 2.5rem;
  background-color: rgb(156, 246, 246);
  margin-top: 0px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.postContainer {
  max-height: calc(100vh - 11.2rem);
  overflow-y: auto;
}
.borderLessPostOption {
  border: none;
  background-color: rgb(139, 251, 251);
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
}
.borderLessPostOption:hover {
  background-color: whitesmoke;
}
.selectedPostOption {
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  /* border-radius: 8px; */
  color: rgb(4, 92, 119);
  background-color: rgb(156, 246, 246);
  border-bottom: 3px solid rgb(4, 92, 119);
}

@media screen and (max-width: 800px) {
  .postDiv {
    width: 90vw;
  }
}
@media screen and (max-width: 700px) {
  .postDiv {
    width: 94vw;
  }
}
@media screen and (max-width: 600px) {
  .postDiv {
    width: 98vw;
  }
}
@media screen and (max-width: 530px) {
  .postDiv {
    width: 100vw;
  }
}
