.previewStory {
  width: calc(100% - 1.6rem);
  height: calc(100% - 1.6rem);
  margin: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.6rem;
  padding-top: 0.2rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 4px rgba(134, 135, 137, 0.5);
}
.previewStoryHeading {
  width: 100%;
  height: 2.8rem;
  display: flex;
  align-items: center;
}
.previewStoryHeading p {
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.previewDiv {
  width: 100%;
  height: calc(100% - 2.8rem);
  background-color: rgb(225, 217, 217);
  border-radius: 0.5rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
}
.displayStoryPreview {
  width: 23vw;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.displayStoryPreview p {
  width: 100%;
  overflow-wrap: break-word;
  align-items: center;
  font-size: large;
  font-weight: bold;
}
.storySpan {
  width: 100%;
  overflow-wrap: break-word;
}
