.sideBarContainer {
  position: absolute;
  top: 4rem;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 750;
  min-width: 90px;
  background-color: white;
}
.sidebarButton {
  border: none;
  text-align: left;
  margin: 5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  font-size: 0.8rem;
  font-weight: 570;
  display: flex;
  align-items: center;
}
.sidebarButton:hover {
  cursor: pointer;
  background-color: rgb(172, 195, 216);
}

@media screen and (max-width: 500px) {
  .sideBarContainer {
    top: 3rem;
  }
}
