* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.profileContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.profileImageContainer {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  width: calc(100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(242, 239, 239); */
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}
.profileImage {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 134, 134);
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #3f3d3d;
}
.profileInfoContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
}
.friendProfileInfoContainer {
  width: 100%;
  height: calc(100% - 4px);
  max-height: calc(100% - 4px);
  flex: 1;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
}
.profileLine {
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  margin: 3px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px 0px 2px 4px;
  font-size: 1.2rem;
  font-weight: bold;
}
.profileEassy {
  margin: 3px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px 0px 2px 4px;
  font-size: 1.1rem;
  font-weight: 550;
  background-color: rgb(226, 223, 223);
  overflow-wrap: break-word;
}
.profileAns {
  font-size: 1.1rem;
  font-weight: 550;
  margin-left: 5px;
}
.friendProfileInfoContainer::-webkit-scrollbar,
.profileInfoContainer::-webkit-scrollbar {
  display: none;
}
.profileLine::-webkit-scrollbar {
  width: 2px;
  max-height: 1px;
  z-index: 999;
}
.profileLine::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.profileLine::-webkit-scrollbar-thumb {
  background-color: #706d6d;
  border-radius: 5px;
  max-height: 1px;
}
.profileLine::-webkit-scrollbar-thumb:hover {
  background-color: #3f3d3d;
}
.profileLine:nth-child(odd) {
  background-color: rgb(226, 223, 223);
}
/* .profileLine:nth-child(even) {
  background-color: rgb(242, 239, 239);
} */
.updateProfileButtonContainer {
  width: calc(100%);
  height: 3rem;
  margin: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px 0px 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(242, 239, 239); */
}
.profileUpdateButton {
  height: 2.5rem;
  width: 6rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(33, 167, 216);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileUpdateButton:hover {
  background-color: rgb(16, 110, 144);
  cursor: pointer;
}
.friendProfileContainer {
  width: 35vw;
  left: 32.5vw;
  height: calc(100vh - 8.3rem);
  top: 4.1rem;
  z-index: 700;
  position: fixed;
  background-color: #f1f1f1;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 5px;
}
.friendProfileBlurContainer {
  width: 50vw;
  height: calc(100vh - 8.2rem);
  position: fixed;
  top: 4.05rem;
  left: 25vw;
  background-color: rgba(207, 205, 205, 0.6);
  z-index: 800;
  border-radius: 5px;
}
.friendProfileCross {
  width: 1.7rem;
  height: 1.7rem;
  top: 2px;
  right: 2px;
  position: absolute;
  border-radius: 50%;
  background-color: #918a8a;
  border: none;
  color: white;
}
.friendProfileCross:hover {
  cursor: pointer;
  background-color: rgb(246, 44, 44);
}
.profileWarningText {
  width: 100%;
  text-align: center;
  margin-top: 20vh;
  font-weight: bold;
}
