.profileContainer {
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-rows: 2fr 7fr 2rem; */
}
.profileImageContainer {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  width: calc(100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
}
.profileImage {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 134, 134);
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #a3a1a1;
}
.profileInfoContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
}
.friendProfileInfoContainer {
  width: 100%;
  height: calc(100% - 4px);
  max-height: calc(100% - 4px);
  flex: 1;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  overflow-y: auto;
}
.profileLine {
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  margin: 3px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px 0px 2px 4px;
  font-size: 1.2rem;
  font-weight: bold;
}
.profileEassy {
  margin: 3px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 2px 0px 2px 4px;
  font-size: 1.1rem;
  font-weight: 550;
  background-color: rgb(226, 223, 223);
  overflow-wrap: break-word;
  min-height: 3rem;
}
.profileAns {
  font-size: 1.1rem;
  font-weight: 550;
  margin-left: 5px;
}
.friendProfileInfoContainer::-webkit-scrollbar,
.profileInfoContainer::-webkit-scrollbar {
  display: none;
}
.profileLine::-webkit-scrollbar {
  width: 2px;
  max-height: 1px;
  z-index: 999;
}
.profileLine::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.profileLine::-webkit-scrollbar-thumb {
  background-color: #706d6d;
  border-radius: 5px;
  max-height: 1px;
}
.profileLine::-webkit-scrollbar-thumb:hover {
  background-color: #3f3d3d;
}
.profileLine:nth-child(odd) {
  background-color: rgb(226, 223, 223);
}
.updateProfileButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 3;
  /* background-color: rgb(242, 239, 239); */
}
.profileUpdateButton {
  height: 2.1rem;
  width: 6rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(33, 167, 216);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileUpdateButton:hover {
  background-color: rgb(16, 110, 144);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profileContainer {
    width: 60%;
  }
}
@media screen and (max-width: 660px) {
  .profileContainer {
    width: 70%;
  }
}
@media screen and (max-width: 560px) {
  .profileContainer {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .profileContainer {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .profileContainer {
    width: 98%;
  }
}
@media screen and (max-height: 620px) {
  .profileContainer {
    grid-template-rows: 1fr 3fr;
  }
}
@media screen and (max-height: 570px) {
  .profileContainer {
    grid-template-rows: 2fr 5fr;
  }
}
@media screen and (max-height: 510px) {
  .profileContainer {
    grid-template-rows: 5fr 12fr;
  }
}
