* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.registerPageContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.registerPage {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: 50vw;
  height: 100vh;
  background-color: rgb(223, 234, 244);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
  top: 0;
  z-index: 1;
}
.regImage {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.displayImage {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: azure;
  position: relative;
  border-radius: 50%;
}
.imageInput {
  display: none;
}
.imageButton {
  height: 12%;
  border-radius: 5%;
  cursor: pointer;
  text-align: center;
  color: aliceblue;
  background-color: rgb(20, 176, 124);
}
.imageButton:hover {
  background-color: rgb(5, 113, 140);
}
.imageContainer {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* This ensures a square aspect ratio */
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.selectedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.userInfoContainer {
  margin-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 65%;
}
.userInfo {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 8.4375rem 2.8125rem 8.4375rem 4.0625rem;
}
.registerLabel {
  grid-column: 1 / span 1;
  margin-left: 3%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
}
.regNameLabel {
  grid-row: 2;
}
.regGmailLabel {
  grid-row: 3;
}
.regGenderLabel {
  grid-row: 5;
}
.regCountryLabel {
  grid-row: 6;
}
.regCityLabel {
  grid-row: 7;
}
.regDoBLabel {
  grid-row: 8;
}
.regSchoolLabel {
  grid-row: 9;
}
.regCollegeLabel {
  grid-row: 10;
}
.regVarsityLabel {
  grid-row: 11;
}
.regWorkplaceLabel {
  grid-row: 12;
}
.regContactLabel {
  grid-row: 13;
}
.regMaritalLabel {
  grid-row: 14;
}
.userInfoContainer::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.userInfoContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.userInfoContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.userInfoContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.registerTextArea_1 {
  grid-row: 16 / span 1;
  grid-column: 1 / span 2;
  margin: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.registerTextArea_2 {
  grid-row: 18 / span 1;
  grid-column: 1 / span 2;
  margin: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.registerInput {
  grid-column: 2 / span 1;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 10px;
  border-radius: 3px;
  text-indent: 7px;
  cursor: pointer;
}
.regNameInput {
  grid-row: 2;
}
.regEmailInput {
  grid-row: 3;
}
.passContainer {
  grid-row: 4;
  grid-column: 2 / span 1;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 10px;
  position: relative;
}
.regPassInput {
  grid-row: 4;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  text-indent: 7px;
  cursor: pointer;
}
.passLabelContainer {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  align-items: center;
}
.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
}
.regGenderInput {
  grid-row: 5;
}
.regCountryInput {
  grid-row: 6;
}
.regCityInput {
  grid-row: 7;
}
.regDoBInput {
  grid-row: 8;
}
.regSchoolInput {
  grid-row: 9;
}
.regCollegeInput {
  grid-row: 10;
}
.regVarsityInput {
  grid-row: 11;
}
.regWorkplaceInput {
  grid-row: 12;
}
.regNumInput {
  grid-row: 13;
}
.regMaritalInput {
  grid-row: 14;
}
.submitContainer {
  grid-column: 1 / span 2;
  grid-row: 19;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regSubmit {
  height: 45px;
  width: 100px;
  color: white;
  font-weight: bold;
  background-color: rgb(73, 230, 70);
  border-radius: 15px;
}
.regSubmit:hover {
  background-color: rgb(30, 150, 194);
  cursor: pointer;
}
.asterisk {
  color: red;
}
.regIconContainer {
  grid-column: 1;
  grid-row: 1 / span 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regLogo {
  animation: rotate 5s infinite linear;
  display: flex;
  align-items: center;
}
.regHeadingContainer {
  grid-column: 3;
  grid-row: 1 / span 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.regHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(59, 67, 227);
  font-size: 2.2rem;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.regTextAreaLabel_1 {
  grid-row: 15 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
}
.regTextAreaLabel_2 {
  grid-row: 17;
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
}
.registerLabel::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}
.registerLabel::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.registerLabel::-webkit-scrollbar-thumb {
  background-color: #706d6d;
  border-radius: 5px;
}
.registerLabel::-webkit-scrollbar-thumb:hover {
  background-color: #3f3d3d;
}
