.searchbar {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.searchInput {
  border-radius: 4rem;
  text-indent: 7px;
  height: 1.6rem;
  border: none;
}
.searchInput:focus {
  outline: none;
}
.searchList {
  position: absolute;
  top: 4rem;
  left: 1rem;
  width: 15.5rem;
  height: 40vh;
  background-color: #f0f2f5;
  border-radius: 0.4rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 500;
}
.searchListInput {
  border-radius: 4rem;
  text-indent: 7px;
  height: 1.5rem;
  border: none;
  width: 80%;
  margin-right: 0.2rem;
  margin-left: 0.5rem;
}
.searchListIcon {
  color: #4d4f52;
  cursor: pointer;
  margin-left: 0.3rem;
}
.searchLine {
  width: calc(100% - 10px);
  min-height: calc(2rem + 10px);
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 3px;
  display: flex;
  align-items: center;
}
.searchLine:hover {
  cursor: pointer;
  background-color: rgb(207, 211, 211);
  border-radius: 0.3rem;
}
@media screen and (max-width: 1150px) {
  /* Styles for small screens go here */
  .searchbar {
    margin-left: 5px;
  }
  .searchList {
    left: 0rem;
    width: 15rem;
  }
}
@media screen and (max-width: 800px) {
  .searchInput {
    width: 7rem;
    height: 1.4rem;
  }
  .searchList {
    width: 14rem;
  }
}
@media screen and (max-width: 500px) {
  /* Styles for small screens go here */
  .searchbar {
    margin-left: 2px;
    margin-right: 10px;
  }
  .searchInput {
    display: none;
  }
  .searchList {
    top: 0;
    left: 0;
  }
}
