.shareComponent {
  width: 25vw;
  min-width: 200px;
  height: calc(100svh - 12rem);
  max-height: calc(100svh - 12rem);
  background-color: antiquewhite;
  position: fixed;
  bottom: 4.5rem;
  left: 49.8vw;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 500;
}
.shareOptionIcon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.shareOptionContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.shareOptionDiv {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 5vw;
}
.shareOptionDiv:hover {
  background-color: #bdb4b4;
  border-radius: 0.2rem;
}

@media screen and (max-width: 1150px) {
  .shareComponent {
    width: 33vw;
    left: 65vw;
  }
}
@media screen and (max-width: 980px) {
  .shareComponent {
    width: 38vw;
    left: 60vw;
  }
}
@media screen and (max-width: 800px) {
  .shareComponent {
    width: 45vw;
    left: 50vw;
  }
}
@media screen and (max-width: 560px) {
  .shareComponent {
    width: 55vw;
    left: 40vw;
  }
  .shareOptionIcon {
    width: 43px;
    height: 43px;
  }
  .shareOptionDiv span {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 420px) {
  .shareComponent {
    width: 65vw;
    left: 30vw;
  }
}
