.storyCard {
  height: 100%;
  width: 13vw;
  min-width: 14rem;
  margin-right: 0.4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem auto 0.2rem;
  border-radius: 0.3rem;
  background-color: rgb(41, 40, 40);
  cursor: pointer;
}
.storyCardPreview {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-row: 2;
  border: 2px solid rgb(41, 40, 40);
}
.storyCardHeading {
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  grid-row: 1;
  overflow: hidden;
  padding-right: 0.2rem;
  background-color: rgb(41, 40, 40);
}
.storyProfilePic {
  height: 90%;
  aspect-ratio: 1;
  background-color: rgb(14, 134, 134);
  margin-left: 0.15rem;
  border-radius: 50%;
  border: 1.5px solid white;
}
.storyCardHeading p {
  font-weight: bold;
  color: white;
  margin-left: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 600px) {
  .storyCard {
    min-width: 10rem;
  }
  .storySpan p {
    font-size: 0.9rem;
  }
}
