.updateProfileContainer {
  width: calc(1.8 * ((100vw - 4rem) / 4 + 2rem));
  height: calc(100svh - 8.2rem);
  z-index: 500;
  position: absolute;
  bottom: 4.1rem;
  left: 0.1rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px 6px 0px 0px;
}
.updateProfileCrossContainer {
  width: 100%;
  height: 6%;
  background-color: rgb(125, 124, 124);
  border-radius: 6px 6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.updateProfileCross {
  height: 90%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  margin-right: 2px;
}
.updateProfileCross:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}
.upadateProfilePageContainer {
  width: 100%;
  height: 94%;
  background-color: rgb(199, 195, 195);
  overflow: auto;
}
.upadateProfileIconContainer {
  display: none;
}
.upadateProfileHeadingContainer {
  display: none;
}
.upadateProfilePage {
  width: 100%;
  height: 100%;
}
.upadateProfileInfoContainer {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.upadateProfileInfo {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1.5rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 2.8125rem 8.4375rem 2.8125rem 8.4375rem 4.0625rem;
}

@media screen and (max-width: 1150px) {
  .updateProfileContainer {
    width: calc(2 * ((100vw - 4rem) / 4 + 2rem));
  }
}
@media screen and (max-width: 920px) {
  .updateProfileContainer {
    width: calc(2.3 * ((100vw - 4rem) / 4 + 2rem));
  }
}
@media screen and (max-width: 800px) {
  .updateProfileContainer {
    width: 70vw;
    margin-left: 15vw;
  }
}
@media screen and (max-width: 800px) {
  .updateProfileContainer {
    width: 70vw;
    margin-left: 15vw;
  }
}
@media screen and (max-width: 720px) {
  .updateProfileContainer {
    width: 80vw;
    margin-left: 10vw;
  }
}
@media screen and (max-width: 600px) {
  .updateProfileContainer {
    width: 90vw;
    margin-left: 5vw;
  }
}
@media screen and (max-width: 500px) {
  .updateProfileContainer {
    width: 96vw;
    margin-left: 2vw;
    bottom: 3.4rem;
    height: calc(100svh - 6.5rem);
  }
}
@media screen and (max-width: 450px) {
  .updateProfileContainer {
    width: 100vw;
    margin-left: 0vw;
  }
}
