.welcomeCard {
  width: 100%;
  aspect-ratio: 1.5/1;
  overflow-y: hidden;
  margin-top: 0.4rem;
  border-radius: 0.6rem;
}
.animation {
  overflow-x: hidden;
  padding-right: 0.4rem;
  padding-left: 0.2rem;
}
.logo {
  width: 100%;
  aspect-ratio: 1.5/1;
  object-fit: contain;
  background-color: #ecedf4;
  border-radius: 0.6rem;
}
.animationMessage {
  padding: 0.3rem;
  background-color: rgb(217, 220, 220);
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 0.3rem;
  margin-top: 0.6rem;
}
